<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Web : s04.dblogin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Spring security: db login</h1>
	<p>This is admins home page</p>
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
</body>
</html>