<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="order1" class="es.jsomoza.pointcuts.Order">
		<constructor-arg name="name" value="Cachopo con cabrales" />
		<constructor-arg name="price" value="12.42d" />
	</bean>

	<bean id="order2" class="es.jsomoza.pointcuts.Order">
		<constructor-arg name="name" value="Chuletón" />
		<constructor-arg name="price" value="24.15d" />
	</bean>

	<bean id="restaurant" class="es.jsomoza.pointcuts.Restaurant">
		<constructor-arg name="name" value="Spring Restaurant" />
		<constructor-arg name="address" value="av/ Jovellanos 34" />
		<property name="orders">
			<list>
				<ref bean="order1" />
				<ref bean="order2" />
			</list>
		</property>
	</bean>

	
	<aop:aspectj-autoproxy />
	<bean id="orderMonitor" class="es.jsomoza.pointcuts.OrderMonitor" />

</beans>