<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="person" class="es.jsomoza.aopBasic.Person">
		<constructor-arg name="name" value="John Doe" />
	</bean>
	<bean id="personMonitor" class="es.jsomoza.aopBasic.PersonMonitor">
	</bean>
	
	<!-- When we use annotations in Aspect classes  -->
	<aop:aspectj-autoproxy />
	<!--
	<aop:config>
        <aop:aspect id="myAspect" ref="personMonitor">
                <aop:pointcut id="sellMethod"  expression="execution(* *(..))" />
                <aop:before pointcut-ref="sellMethod" method="anyMethod"/>
                <aop:after pointcut-ref="sellMethod" method="anyMethod"/>
        </aop:aspect>
	</aop:config>
	-->
</beans>